# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE
.idea/
*.swp
.vscode/
*.log

# OS
.DS_Store
Thumbs.db
